html {
  height: 100%;
}

body {
  height: 100%;
}

#map {
  height: calc(100% - 103px);
  width: 100%;
}

.city {
  border-radius: 10px;
  padding: 10px;
  font-family: Noway;
  background-color: #61ADE0 ;
  color: white;
}

.map-areas {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 10% 5% 10% 5% 10% auto;
  padding: 10px 0 10px 0;
  text-decoration: underline;
  align-items: center;
  width: 100%;
  height: 32px;
  text-align: center;
  color: white;
  background-color: #DF1B12;
}

.europe {
    grid-column-start: 2;
    font-family: Noway;
    grid-column-end: 2;
    font-size: 18px;
}
.namerica {
    grid-column-start: 4;
    grid-column-end: 4;
    font-family: Noway;
    font-size: 18px;
}
.asia {
    grid-column-start: 6;
    grid-column-end: 6;
    font-family: Noway; 
    font-size: 18px;
}

.white {
  color: white;
}
