  .vcenter {
    display: grid;
    align-items: center;
    grid-template-columns: 5% auto 8% 8% 8% 8% 8% 8% auto 8%;
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 32px;
  }
  
  .menu {
    background-color: #fff;
    height: 80px;
    padding-left: 10%;
    text-align: center;
  }
  
  .logo {
    height: 15px;
    width: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  
  .jobs-tab {
    grid-column-start: 4;
    grid-column-end: 4;
  }
  .about-tab {
    grid-column-start: 5;
    grid-column-end: 5;
  }
  .locations-tab {
    grid-column-start: 6;
    grid-column-end: 6;
  }
  .teams-tab {
    grid-column-start: 7;
    grid-column-end: 7;
  }
  .hire-tab {
    grid-column-start: 8;
    grid-column-end: 8;
  }
  .events-tab {
    grid-column-start: 9;
    grid-column-end: 9;
  }
  .search-tab {
    grid-column-start: 11;
    grid-column-end: 11;
  }
  
  .default {
    font-size: 18px;
    font-family: Gotham,Arial,Helvetica,Verdana,sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
      font-size: 42px;
  }

  h2 {
      font-family: Noway;
      font-weight: 400;
      font-size: 28px;
  }

  h3 {
    font-family: Gotham;
    font-weight: bold;
    font-size: 34px;
  }

  h4 {
    font-family: Gotham;
    font-weight: bold;
    font-size: 26px;
    padding: 20px 0 20px 0;
  }
  
  .vspace {
    margin: 40px 0 40px 0;
  }

  .topsidespace {
    padding: 50px 50px 0px 50px;
  }