

@font-face {
    font-family: "Gotham Bold";
    font-weight: bold;
    src: url('/fonts/Gotham-Bold.otf');
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: Noway;
    src: url('/fonts/Noway-Regular.otf');
}


body {
    font-family: "Noway";
    font-weight: normal;
    font-size: 25px;
    color: #4e4e4e;
    font-size: 18px;
    margin: 0 0 0 0;
}
h1 {
    color: #000;
    font-family: "Gotham Bold";
    font-size: 36px;
    font-weight: 900;
}
h2 {
    font-size: 27px;
    font-weight: normal;
}
h3 {
    color: #000;
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header__logo {
    display: inline-block;
    height: 22px;
    margin: 14px 100px;
}
.header-menu {
    font-size: 14px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 80px;
    left: 200px;
    top: 0;
    bottom: 0;
    text-align: right;
    white-space: nowrap;
}
.header-menu__item {
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "Gotham Bold";
    transition: background .3s;
    cursor: pointer;
}
.content {
    top: 50px;
    left: 0;
    width: 100%;
}

.twocol {
    display: flex;
    flex-direction: row;
    margin: 100px 0;
    align-items: stretch;
}
.twocol .left{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 100px;
}
.twocol .right {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    color: #6B6B6B;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: 100px;
}

.badge {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    color: #000;
    background: #FFF;
    white-space: nowrap;
    padding: 16px 24px;
}
.video {
    width: 100%;
}
.video-embedded {
    margin: 100px;
}

.onecol {
    margin: 100px;
}
.dark {
    background: #d8d8d8;
}
.medium {
    background: #F2F2F2;
}

.cards {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.card {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 18px;
    margin: 0 50px;
    color: #6B6B6B;
}
.card h1 {
    font-size: 18px;
    color: #000;
}
.card h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #DF1B12;
}
.card a {
    display: block;
    text-decoration: none;
    color: currentColor;
}
.more {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
.more::after {
    content: " >";
    color: #DF1B12;
}

.letterbox {
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.letterbox h1 {
    color: white;
}
.letterbox .left {
    position: relative;
    top: 0;
    left: 0;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    background: #323232;
    color: white;
}
.letterbox .right {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
}
.letterbox .videobutton {
    margin:  40% 49%;
    color: white;
    border: 30px solid red;
    border-right: 45px solid red;
}
.letterbox .left .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
}

.letterbox .right .top {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background: #000;
    padding: 40px;
}
.letterbox .right .bottom {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.letterbox .right .bottom .bottomleft {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background: #666;
    padding: 40px;
}
.letterbox .right .bottom .bottomright{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background: #fff;
    padding: 40px;
}
table.jobs {
    width: 100%;
    border-collapse: collapse;
}
table.jobs th, table.jobs td {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}
table.jobs tfoot th, table.jobs tfoot td {
    border: none;
}

table.jobs thead th {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
table.jobs th {
    text-align: left;
}
table.jobs td {
}
div.form .field {
    padding: 5px;
    margin: 14px 0;
    background: #fff;
}
input {
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    font-size: 14px;
}
label {
    display: block;
    font-size: 12px;
    color: #6B6B6B;
}
.menu__share-inline {
    margin-bottom: 50px;
}
.share-icon {
    color: white;
    background: #DF1B12;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    color: currentColor;
    height: 30px;
    width: 40px;
}
.share-icon svg {
    fill: white;
}
.reading {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 50px 0;
}
.reading .left {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0;
}
.reading .right {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 30px;
}
.read {
    border-bottom: 2px solid;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
    border-image:   linear-gradient(to right, #DF1B12 18%, #F2F2F2 18%, #F2F2F2 82%) 2;
}

.header-menu > a {
    text-decoration: none;
    color: #4e4e4e;
}

.button__link-secondary {
    margin-left: 10px;
    background-color: #8DC3ED;
    color: black;
    border: none;
    font-weight: 800;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.button__link {
    margin-left: 10px;
    background-color: #df1b12;
    border: none;
    font-weight: 800;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

.button__grey {
    margin-left: 10px;
    background-color: #E5E5E5;
    border: none;
    font-weight: 800;
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

h5 {
    font-family: Gotham;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0 10px 0;
  }