body {
    margin: 0px;
    padding: 0px;
    height: 99%;
  }
  textarea#setter {
    left: -1000px;
    position: absolute;
  }
  .cursor {
    font-size: 12px;
    background-color: white;
    color: white;
    position: relative;
  }
  #terminal {
    margin: 8px;
    padding: 18px;
    cursor: text;
    height: 200px;
    overflow: auto;
    background-color: black;
    color: white;
    font-family: cursor, courier;
  }
  #getter {
    margin: 5px;
  }
  
  .terminal-question{
    font-weight: bold;
  }

  #question{
    font-weight: 200;
  }
  
  #secret-video {
    margin: 8px;
    display: none;
    margin-top: 50px;
  }

  .margin-top {
    margin-top: 80px;
  }