.separated-view {
  display: flex;
  flex-direction: row;
}

.triple-left {
  width: 60%;
  margin: 20px 20px 20px 80px;
}

.triple-middle {
  width: 20%;
  margin: 20px 20px 20px 20px;
  
}

.triple-right {
  width: 20%;
  margin: 20px 80px 20px 20px;

}

.left {
  width: 50%;
  margin: 50px 60px 50px 80px;
}

.right {
  width: 50%;
  margin: 50px 80px 50px 60px;
}

.top-image {
  margin-top: 51px;
  width: 100%;
  height: 350px;
}
.challenge {
    background: #d8d8d8;
    padding: 30px;
    border: 1px solid #bbb;
}
.text-challenge {
    font-family: Noway;
    font-size: 18px;
    padding-top: 30px;
    margin-bottom: 30px;
}

#question-challenge {
    display: none;
    font-size: 18px;
    font-family: Noway;
}

.encrypted {
    font-family: Gotham;
    font-weight: 600;
}

#decrypted {
    /*ADAPT THIS*/
    width: 500px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#question {
  font-weight: bold;
  padding-left: 20px;
}


.grey-background {
  background-color: #E5E5E5;
}

.quote {
  padding: 80px 80px 80px 80px;
  background-color: #E5E5E5;
}

.quote-icon {
  color: #61ADE0;
  font-size: 32px;
}

.quote-text {
  padding: 30px 0 30px 0;
  font-family: Noway;
  font-size: 28px;
}

.quote-author {
  font-weight: bold;
  font-size: 16px;
  font-family: Gotham;
}

.quote-author-position {
  padding-top: 4px;
  font-family: Gotham;
  font-size: 12px;
}

.card-list {
  text-align: left; 
}

.white-card {
  display: inline-block;
  background-color: white;
  font-family: Noway;
  padding: 16px 28px;
  margin: 10px 10px;
}

.team-img {
  width: 250px;
}

.noway-28 {
  padding-top: 10px;
  font-family: Noway;
  font-size: 28px;
}

.side-margin {
  margin: 0 6% 0 6%;
}

.grey-card {
  text-decoration: none;
  color: #4e4e4e;
  text-align: center;
  display: inline-block;
  background-color: #E5E5E5;
  padding: 16px 28px;
  margin: 40px 40px;
}

.small-image {
  margin: 30px 0 30px 0;
  width: 100%;
}

.big-image {
  width:  calc(100% - 160px);
  padding: 0px 80px 0px 80px;
}

.no-top-space {
  margin-top: 0px;
  padding-top: 0px;
}

.space-after {
  padding-bottom: 100px;
}

.tab-header {
  text-transform: uppercase;
}

.tab-values {
  font-family: Gotham;
  font-weight: bold;
}

.hr {
  margin: 0px 80px 0px 80px;
}

.tab-val {
  margin: 20px 0 20px 0;
}

.left-60 {
  margin-left: 60% !important;
} 

.end {
  margin: 40px 0 150px 0;
}